@model ClienteViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link href="~/dist/css/home.css" rel="stylesheet" />
}

<div class="text-center">
    <h2>jQuery</h2>
    <p>Isso é um exemplo de CRUD usando jQuery</p>
</div>

<div class="card">
    <div class="card-body">
        <div class="alert alert-dismissible fade" role="alert" id="alert">
            <strong id="messageTitle"></strong>
            <span id="message"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form id="form">
            <input type="hidden" id="Id" />
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <input asp-for="Nome" class="form-control" placeholder="Nome" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <input asp-for="Cpf" class="form-control" placeholder="CPF" />
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-success mr-3" id="btnSubmit">Salvar</button>
                    <button type="button" class="btn btn-sm btn-primary" id="btnNew">Novo</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table id="table" class="mt-4"
       data-toggle="table"
       data-url="@Url.Action("Get","Home")"
       data-side-pagination="server"
       data-pagination="true"
       data-query-params-type="">
    <thead>
        <tr>
            <th data-field="nome">Nome</th>
            <th data-field="cpf">Cpf</th>
            <th data-field="id" data-formatter="app.formatter">#</th>
        </tr>
    </thead>
</table>

<div class="modal" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir o item?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnModalConfirm">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("search-url", Url.Action("Get", "Home"))
@Html.Hidden("post-url", Url.Action("Post", "Home"))
@Html.Hidden("put-url", Url.Action("Put", "Home"))
@Html.Hidden("delete-url", Url.Action("Delete", "Home"))

@section Scripts {
    <script src="~/dist/js/home.js"></script>
}